Repository OllieJT/schemeta, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“Œ area: library, ğŸ“š documentation, ğŸš§ area: ci, ğŸš§ area: tests

fix: trigger rerun of CI
  .changeset/many-chefs-type.md
  package.json
Labels: ğŸ“š documentation

fix: trigger rerun of CI (#14)
  .changeset/many-chefs-type.md
  package.json
Labels: ğŸ“š documentation

fix Changesets being silly
  .changeset/angry-ghosts-drum.md
Labels: ğŸ“š documentation

fix Changesets being silly (#15)
  .changeset/angry-ghosts-drum.md
Labels: ğŸ“š documentation

Adds readme notes
  .changeset/wicked-numbers-hunt.md
  README.md
Labels: ğŸ“š documentation

Update image assets
  README.md
  static/banner.png
  static/github-og.png
  static/icon.png
Labels: ğŸ“š documentation

fix linting
  README.md
Labels: ğŸ“š documentation

docs: Update readme + images (#16)
  .changeset/wicked-numbers-hunt.md
  README.md
  static/banner.png
  static/github-og.png
  static/icon.png
Labels: ğŸ“š documentation

Create happy-telephone-monkey.md
  .changeset/happy-telephone-monkey.md
Labels: ğŸ“š documentation

Update deps
  .changeset/sour-trainers-rule.md
  package.json
  pnpm-lock.yaml
Labels: ğŸ“š documentation

chore: Update deps (#17)
  .changeset/happy-telephone-monkey.md
  .changeset/sour-trainers-rule.md
  package.json
  pnpm-lock.yaml
Labels: ğŸ“š documentation

Adds 2 new tags
  src/lib/validator/primitive.ts
  src/lib/values.options.ts
Labels: ğŸ“Œ area: library

Improve error handling
  src/lib/values.options.ts
  src/schemeta.ts
Labels: ğŸ“Œ area: library

adds changeset
  .changeset/clever-timers-swim.md
Labels: ğŸ“š documentation

feat: Adds missing apple tags (#19)
  .changeset/clever-timers-swim.md
  src/lib/validator/primitive.ts
  src/lib/values.options.ts
  src/schemeta.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

update tag order
  .changeset/thirty-pears-fry.md
  src/lib/validator/linked-data.ts
  src/lib/values.options.ts
  src/schemeta.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

Squashed commit of the following:
  src/lib/values.options.ts
Labels: ğŸ“Œ area: library

lint fix
  src/lib/values.options.ts
Labels: ğŸ“Œ area: library

chore: update tag order + linting (#20)
  .changeset/thirty-pears-fry.md
  src/lib/validator/linked-data.ts
  src/lib/values.options.ts
  src/schemeta.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

Fix linting
  .github/actions/setup/action.yml
  .github/workflows/validate-linting.yml
  pnpm-lock.yaml
Labels: ğŸš§ area: ci

fix: CI (#21)
  .github/actions/setup/action.yml
  .github/workflows/validate-linting.yml
  pnpm-lock.yaml
Labels: ğŸš§ area: ci

fix: CI
  .github/workflows/release.yml
Labels: ğŸš§ area: ci

split check action
  .github/workflows/release.yml
Labels: ğŸš§ area: ci

fix: CI (#22)
  .github/workflows/release.yml
Labels: ğŸš§ area: ci

Manually handle changeset
  .changeset/clever-timers-swim.md
  .changeset/thirty-pears-fry.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: ğŸ“š documentation

fix script element creation
  .changeset/heavy-feet-collect.md
  src/lib/to-html.ts
  src/lib/values.options.ts
  src/schemeta.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

exports missing toElement type
  .changeset/long-pigs-cheer.md
  src/index.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

Adds SvelteKit examples to docs
  README.md
Labels: ğŸ“š documentation

fix: Improved exports + docs (#24)
  .changeset/heavy-feet-collect.md
  .changeset/long-pigs-cheer.md
  README.md
  src/index.ts
  src/lib/to-html.ts
  src/lib/values.options.ts
  src/schemeta.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

element output fixes
  .changeset/forty-trains-buy.md
  src/lib/values.to-elements.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

fix author schema type
  .changeset/healthy-queens-wave.md
  src/lib/values.options.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

fix: element output & author schema (#26)
  .changeset/forty-trains-buy.md
  .changeset/healthy-queens-wave.md
  src/lib/values.options.ts
  src/lib/values.to-elements.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

.github/labeler.yml:

"ğŸ“Œ area: library":
  - any: ["src/**/*"]

"ğŸ“š documentation":
  - any: ["src/routes/**/*"]
  - any: ["**/*.md"]

"ğŸš§ area: ci":
  - any: [".github/**/*"]

"ğŸš§ area: tests":
  - any: ["**/*.test.ts"]
