Repository OllieJT/schemeta, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“Œ area: library, ğŸ“š documentation, ğŸš§ area: ci, ğŸš§ area: tests

.github/labeler.yml:

"ğŸ“Œ area: library":
  - any: ["src/**/*"]

"ğŸ“š documentation":
  - any: ["src/routes/**/*"]
  - any: ["**/*.md"]

"ğŸš§ area: ci":
  - any: [".github/**/*"]

"ğŸš§ area: tests":
  - any: ["**/*.test.ts"]

bump tooling versions
  package.json
  pnpm-lock.yaml
Labels: none

Simplify og:type metadata
  .changeset/tidy-chefs-dress.md
  src/metadata.ts
  src/use.type.video.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

Adds support for Linked Data
  .changeset/giant-wombats-end.md
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/metadata.ts
  src/transform.ts
  src/types/entity.ts
  src/types/tags.json.ts
  src/types/tags.ts
  src/use.json.ld.ts
  src/use.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

Fix formatting
  src/index.ts
Labels: ğŸ“Œ area: library

feat(Json-LD): Restructure outputs + Add Linked Data support (#3)
  .changeset/giant-wombats-end.md
  .changeset/tidy-chefs-dress.md
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/metadata.ts
  src/transform.ts
  src/types/entity.ts
  src/types/tags.json.ts
  src/types/tags.ts
  src/use.json.ld.ts
  src/use.ts
  src/use.type.video.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

Minor lib refinements
  src/metadata.ts
  src/use.locale.ts
  tsconfig.json
Labels: ğŸ“Œ area: library

Added basic docs
  .changeset/hungry-rabbits-confess.md
  README.md
  media/banner.png
  media/icon.png
Labels: ğŸ“š documentation

docs: Adds basic documentation (#5)
  .changeset/hungry-rabbits-confess.md
  README.md
  media/banner.png
  media/icon.png
  src/metadata.ts
  src/use.locale.ts
  tsconfig.json
Labels: ğŸ“Œ area: library, ğŸ“š documentation

rename media dir
  README.md
  static/banner.png
  static/icon.png
Labels: ğŸ“š documentation

format
  README.md
Labels: ğŸ“š documentation

Fix dependency inclusion
  .changeset/itchy-comics-vanish.md
  package.json
  pnpm-lock.yaml
Labels: ğŸ“š documentation

Adds pkg metadata
  package.json
Labels: none

fix(deps): Dependency inclusion (#7)
  .changeset/itchy-comics-vanish.md
  README.md
  package.json
  pnpm-lock.yaml
  static/banner.png
  static/icon.png
Labels: ğŸ“š documentation

fix: Adds missing description meta tag
  .changeset/fluffy-numbers-judge.md
  src/use.description.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

refactor value management
  README.md
  src/archive/transform.old.ts
  src/index.ts
  src/metadata.ts
  src/schemeta.ts
  src/transform.configs-to-html.ts
  src/transform.ts
  src/transform.values-to-configs.ts
  src/types/entity.ts
  src/types/tags.json.ts
  src/types/tags.opengraph.ts
  src/types/tags.ts
  src/types/tags.twitter.ts
  src/types/tags.web.ts
  src/types/value-map.ts
  src/use.canonical.ts
  src/use.description.ts
  src/use.image.ts
  src/use.json.ld.ts
  src/use.locale.ts
  src/use.site.ts
  src/use.title.ts
  src/use.ts
  src/use.twitter.ts
  src/use.type.music.ts
  src/use.type.other.ts
  src/use.type.video.ts
  src/utility.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

Refine data management
  README.md
  example.ts
  src/archive/use.json.ld.ts
  src/schemeta.ts
  src/to-elements.from-meta.ts
  src/to-elements.from-rdfa.ts
  src/to-elements.from-xml.ts
  src/to-elements.ts
  src/to-elements.types.ts
  src/to-html.ts
  src/transform.configs-to-html.ts
  src/transform.ts
  src/transform.values-to-configs.ts
  src/types/utility.ts
  src/types/value-map.ts
  src/types/values.meta.ts
  src/types/values.rdfa.ts
  src/types/values.ts
  src/types/values.xml.ts
  src/utility.ts
  src/utility/format-primitive.ts
  tsup.config.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

Add changeset
  .changeset/pretty-rice-prove.md
Labels: ğŸ“š documentation

Adds more supported metatags
  README.md
  src/schemeta.ts
  src/to-elements.from-meta.ts
  src/types/values.meta.ts
  src/types/values.rdfa.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

Adds changesets
  .changeset/lucky-students-agree.md
  .changeset/old-bottles-yawn.md
Labels: ğŸ“š documentation

refactor value management to zod.
  README.md
  package.json
  pnpm-lock.yaml
  src/archive/transform.old.ts
  src/archive/use.json.ld.ts
  src/schemeta.ts
  src/to-elements.from-meta.ts
  src/to-elements.from-rdfa.ts
  src/to-elements.from-xml.ts
  src/to-elements.ts
  src/to-elements.types.ts
  src/to-html.ts
  src/types/values.meta.ts
  src/types/values.rdfa.ts
  src/types/values.xml.ts
  src/values.meta.ts
  src/values.ts
  src/values.types.ts
  src/values.xml.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

Restructure files
  src/index.ts
  src/lib/to-elements.from-meta.ts
  src/lib/to-elements.from-xml.ts
  src/lib/to-elements.ts
  src/lib/to-html.ts
  src/lib/types.ts
  src/lib/values.meta.ts
  src/lib/values.ts
  src/lib/values.types.ts
  src/lib/values.xml.ts
  src/schemeta.ts
  src/types/values.meta.ts
  src/types/values.rdfa.ts
  src/types/values.ts
  src/types/values.xml.ts
  src/utility/format-primitive.ts
  tsup.config.ts
Labels: ğŸ“Œ area: library

Update docs
  .changeset/lazy-cobras-provide.md
  README.md
  src/schemeta.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

Update package
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Labels: none

Update deps
  .changeset/slimy-ligers-love.md
  package.json
  pnpm-lock.yaml
Labels: ğŸ“š documentation

reduce exports
  tsup.config.ts
Labels: none

chore: Update deps (#10)
  .changeset/slimy-ligers-love.md
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Labels: ğŸ“š documentation

Add missing dev deps
  package.json
  pnpm-lock.yaml
Labels: none

remove unused
  example.ts
Labels: none

fix lockfile
  pnpm-lock.yaml
Labels: none

fix: missing deps (#11)
  example.ts
  package.json
  pnpm-lock.yaml
Labels: none

Fix exports
  package.json
  src/index.ts
  src/schemeta.ts
Labels: ğŸ“Œ area: library

Add changesets
  .changeset/curly-buses-exercise.md
  .changeset/fast-insects-cheat.md
Labels: ğŸ“š documentation

add html references
  reference/bbc-sport-article.html
  reference/imdb-movie.html
Labels: none

update docs
  README.md
Labels: ğŸ“š documentation

Cleanup structure + outputs
  .changeset/wise-adults-marry.md
  src/index.ts
  src/lib/to-elements.from-meta.ts
  src/lib/to-elements.ts
  src/lib/validator/apple.ts
  src/lib/validator/index.ts
  src/lib/validator/linked-data.ts
  src/lib/validator/msapplication.ts
  src/lib/validator/opengraph.ts
  src/lib/validator/primitive.ts
  src/lib/validator/twitter.ts
  src/lib/values.options.ts
  src/lib/values.to-elements.ts
  src/lib/values.ts
  src/lib/values.types.ts
  src/lib/values.xml.ts
  src/schemeta.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

Update utility methods
  .changeset/odd-poems-carry.md
  reference/imdb-movie.html
  src/lib/values.options.ts
  src/schemeta.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation

Fix gh action linting
  .github/workflows/validate-linting.yml
Labels: ğŸš§ area: ci

fix documented exports
  README.md
  package.json
Labels: ğŸ“š documentation

feat: Exports types + Convenience utils (#13)
  .changeset/curly-buses-exercise.md
  .changeset/fast-insects-cheat.md
  .changeset/odd-poems-carry.md
  .changeset/wise-adults-marry.md
  .github/workflows/validate-linting.yml
  README.md
  package.json
  reference/bbc-sport-article.html
  reference/imdb-movie.html
  src/index.ts
  src/lib/to-elements.from-meta.ts
  src/lib/to-elements.ts
  src/lib/validator/apple.ts
  src/lib/validator/index.ts
  src/lib/validator/linked-data.ts
  src/lib/validator/msapplication.ts
  src/lib/validator/opengraph.ts
  src/lib/validator/primitive.ts
  src/lib/validator/twitter.ts
  src/lib/values.options.ts
  src/lib/values.to-elements.ts
  src/lib/values.ts
  src/lib/values.types.ts
  src/lib/values.xml.ts
  src/schemeta.ts
Labels: ğŸ“Œ area: library, ğŸ“š documentation, ğŸš§ area: ci

fix: Add build step to CI setup
  .github/actions/setup/action.yml
  .github/workflows/validate-linting.yml
Labels: ğŸš§ area: ci
